<app-c-header></app-c-header>


<main class="flex justify-center margin-bottom-20 padding-x-24-tablet font-size-16">
  <div class="flex max-width-1400 width-full items-center flex-col">

    <form
      class="flex shadow flex-col margin-top-40 max-width-80 radius-10 justify-center items-center"
      [formGroup]="onboardingForm"
      (ngSubmit)="submitOnboarding()">


      <div class="flex padding-20 flex-col items-center font-size-18">
        <div class="flex padding-10 bg-yellow radius-10">
          <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000">
            <path
              d="M200-80q-33 0-56.5-23.5T120-160v-480q0-33 23.5-56.5T200-720h80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720h80q33 0 56.5 23.5T840-640v480q0 33-23.5 56.5T760-80H200Zm0-80h560v-480H200v480Zm421.5-298.5Q680-517 680-600h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85h-80q0 83 58.5 141.5T480-400q83 0 141.5-58.5ZM360-720h240q0-50-35-85t-85-35q-50 0-85 35t-35 85ZM200-160v-480 480Z" />
          </svg>
        </div>

        <div class="font-size-24 font-weight-700 margin-top-10 text-center">Регистрация продавца</div>
        <div class="margin-top-10 text-center">Заполните сведения о компании и магазине. Эти данные необходимы для
          начало работы на площадки
        </div>
        <div class="margin-top-10 text-center">Поля отмеченные <span class="text-red">*</span>, обязательные для
          заполнения
        </div>


      </div>


      <div class="styled-hr margin-top-20 margin-bottom-20"></div>

      <div class="flex width-full items-center padding-20">
        <div class="flex size-50 items-center justify-center bg-yellow radius-50p flex-shrink-0">
          <div class="flex font-size-24 font-weight-700">1</div>
        </div>
        <div class="flex margin-left-20 flex-col">
          <div class="flex font-size-24 font-weight-700">Реквизиты организации</div>
          <div class="flex">Основные регистрационные данные</div>
        </div>
      </div>


      <div
        class="flex flex-col width-full items-center padding-20"
        formGroupName="registration">

        <div class="flex width-full font-weight-700">
          Тип продавца <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10">
          <select
            class="input-form padding-x-10 width-full"
            formControlName="sellerType"
            (change)="updateSellerType()">
            @for (option of sellerTypeOptions; track option.value) {
              <option [value]="option.value">
                {{ option.label }}
              </option>
            }
          </select>
        </div>

        @if (isIndividualEntrepreneur) {

          <div class="flex width-full margin-top-20">
            <div class="flex margin-right-10">

              <input
                class="display-close check"
                id="registration-remember-me"
                type="checkbox"
                name="rememberMe"
                formControlName="isNpd">

              <label class="checkbox z-index-1 bg-page" for="registration-remember-me">
                <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                     width="20px">
                  <path d="M389-227 154-461l91-92 144 145 327-326 91 90-418 417Z" />
                </svg>
              </label>
            </div>
            <div class="flex font-size-18">Применяю налоговый режим НПД</div>
          </div>

        }

        @if (selectedSellerType === 'individual') {
          <div class="flex width-full margin-top-20">
            Самозанятый регистрируется как физическое лицо на НПД.
          </div>
        }

        <div class="flex width-full margin-top-35 font-weight-700">
          @if (isLegalEntity) {
            Официальное название организации
          } @else {
            Полное ФИО
          }
          <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10">
          <input
            type="text"
            class="input-form padding-x-10 width-full"
            formControlName="registeredName"
            [placeholder]="
        isLegalEntity
          ? 'Укажите официальное название организации'
          : 'Укажите полное ФИО'
      "
            required>
        </div>

        <div class="flex width-full margin-top-35 font-weight-700">
          ИНН <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10">
          <input
            type="text"
            inputmode="numeric"
            class="input-form padding-x-10 width-full"
            formControlName="inn"
            [attr.maxlength]="isLegalEntity ? 10 : 12"
            [placeholder]="isLegalEntity ? '10 цифр' : '12 цифр'"
            required>
        </div>

        @if (isLegalEntity) {
          <div class="flex gap-20 width-full margin-top-35 flex-col-phone">
            <div class="flex-col width-full">
              <div class="flex width-full font-weight-700">
                КПП <span class="text-red">*</span>
              </div>
              <div class="flex width-full margin-top-10">
                <input
                  type="text"
                  inputmode="numeric"
                  maxlength="9"
                  class="input-form padding-x-10 width-full"
                  formControlName="kpp"
                  placeholder="9 цифр"
                  required>
              </div>
            </div>

            <div class="flex-col width-full">
              <div class="flex width-full font-weight-700">
                ОГРН <span class="text-red">*</span>
              </div>
              <div class="flex width-full margin-top-10">
                <input
                  type="text"
                  inputmode="numeric"
                  maxlength="13"
                  class="input-form padding-x-10 width-full"
                  formControlName="ogrn"
                  placeholder="13 цифр"
                  required>
              </div>
            </div>
          </div>
        }

        @if (isIndividualEntrepreneur) {
          <div class="flex width-full margin-top-35 font-weight-700">
            ОГРНИП <span class="text-red">*</span>
          </div>
          <div class="flex width-full margin-top-10">
            <input
              type="text"
              inputmode="numeric"
              maxlength="15"
              class="input-form padding-x-10 width-full"
              formControlName="ogrnip"
              placeholder="15 цифр"
              required>
          </div>
        }

        <div class="flex width-full margin-top-35 font-weight-700">
          @if (isLegalEntity) {
            Юридический адрес
          } @else {
            Адрес регистрации
          }
          <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10">
          <input
            type="text"
            class="input-form padding-x-10 width-full"
            formControlName="registrationAddress"
            [placeholder]="
        isLegalEntity
          ? 'Укажите юридический адрес'
          : 'Укажите адрес регистрации'
      "
            required>
        </div>

        <div class="flex width-full margin-top-35 font-weight-700">
          Фактический адрес <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10">
          <input
            type="text"
            class="input-form padding-x-10 width-full"
            formControlName="actualAddress"
            placeholder="Укажите фактический адрес"
            required>
        </div>
      </div>

      <div class="styled-hr margin-top-20 margin-bottom-20"></div>

      <div class="flex width-full items-center padding-20">
        <div class="flex size-50 items-center justify-center bg-yellow radius-50p flex-shrink-0">
          <div class="flex font-size-24 font-weight-700">2</div>
        </div>
        <div class="flex margin-left-20 flex-col">
          <div class="flex font-size-24 font-weight-700">
            @if (isLegalEntity) {
              Представитель организации
            } @else {
              Контактные данные
            }
          </div>
          <div class="flex">
            @if (isLegalEntity) {
              Ответственный за работу магазина
            } @else {
              Данные продавца для связи
            }
          </div>
        </div>
      </div>

      <div
        class="flex flex-col width-full items-center padding-20"
        formGroupName="contact">

        <div class="flex gap-20 width-full flex-col-phone">
          <div class="flex-col width-full">
            <div class="flex width-full font-weight-700">
              Фамилия <span class="text-red">*</span>
            </div>
            <div class="flex width-full margin-top-10">
              <input
                type="text"
                class="input-form padding-x-10 width-full"
                formControlName="lastName"
                placeholder="Фамилия"
                required>
            </div>
          </div>

          <div class="flex-col width-full">
            <div class="flex width-full font-weight-700">
              Имя <span class="text-red">*</span>
            </div>
            <div class="flex width-full margin-top-10">
              <input
                type="text"
                class="input-form padding-x-10 width-full"
                formControlName="firstName"
                placeholder="Имя"
                required>
            </div>
          </div>
        </div>

        <div class="flex width-full margin-top-35 font-weight-700">
          Отчество
        </div>
        <div class="flex width-full margin-top-10">
          <input
            type="text"
            class="input-form padding-x-10 width-full"
            formControlName="patronymic"
            placeholder="Отчество, если есть">
        </div>

        @if (isLegalEntity) {
          <div class="flex width-full margin-top-35 font-weight-700">
            Должность <span class="text-red">*</span>
          </div>
          <div class="flex width-full margin-top-10">
            <input
              type="text"
              class="input-form padding-x-10 width-full"
              formControlName="jobTitle"
              placeholder="Должность"
              required>
          </div>
        }

        <div class="flex width-full margin-top-35 font-weight-700">
          Телефон <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10 relative">
          <div class="flex font-size-18 font-weight-700 items-center justify-center absolute plus-seven">+7</div>
          <input
            type="tel"
            inputmode="numeric"
            maxlength="10"
            class="input-form padding-left-30 padding-right-10 width-full"
            formControlName="phone"
            placeholder="900 000-00-00"
            autocomplete="tel"
            required>
        </div>
      </div>

      <div class="styled-hr margin-top-20 margin-bottom-20"></div>

      <div class="flex width-full items-center padding-20">
        <div class="flex size-50 items-center justify-center bg-yellow radius-50p flex-shrink-0">
          <div class="flex font-size-24 font-weight-700">3</div>
        </div>
        <div class="flex margin-left-20 flex-col">
          <div class="flex font-size-24 font-weight-700">Банковские реквизиты</div>
          <div class="flex">Счёт, на который будут перечисляться выплаты</div>
        </div>
      </div>

      <div
        class="flex flex-col width-full items-center padding-20"
        formGroupName="bankAccount">

        <div class="flex width-full font-weight-700">
          Расчётный счёт <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10">
          <input
            type="text"
            inputmode="numeric"
            maxlength="20"
            class="input-form padding-x-10 width-full"
            formControlName="accountNumber"
            placeholder="20 цифр"
            required>
        </div>

        <div class="flex gap-20 width-full margin-top-35 flex-col-phone">
          <div class="flex-col width-full">
            <div class="flex width-full font-weight-700">
              БИК <span class="text-red">*</span>
            </div>
            <div class="flex width-full margin-top-10">
              <input
                type="text"
                inputmode="numeric"
                maxlength="9"
                class="input-form padding-x-10 width-full"
                formControlName="bik"
                placeholder="9 цифр"
                required>
            </div>
          </div>

          <div class="flex-col width-full">
            <div class="flex width-full font-weight-700">
              Корреспондентский счёт
              <span class="text-red">*</span>
            </div>
            <div class="flex width-full margin-top-10">
              <input
                type="text"
                inputmode="numeric"
                maxlength="20"
                class="input-form padding-x-10 width-full"
                formControlName="correspondentAccount"
                placeholder="20 цифр"
                required>
            </div>
          </div>
        </div>
      </div>

      <div class="styled-hr margin-top-20 margin-bottom-20"></div>

      <div class="flex width-full items-center padding-20">
        <div class="flex size-50 items-center justify-center bg-yellow radius-50p flex-shrink-0">
          <div class="flex font-size-24 font-weight-700">4</div>
        </div>
        <div class="flex margin-left-20 flex-col">
          <div class="flex font-size-24 font-weight-700">Информация о магазине</div>
          <div class="flex">Эти сведения будут видеть покупатели</div>
        </div>
      </div>

      <div
        class="flex flex-col width-full items-center padding-20"
        formGroupName="store">

        <div class="flex width-full font-weight-700">
          Название магазина <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10">
          <input
            type="text"
            class="input-form padding-x-10 width-full"
            formControlName="name"
            placeholder="Название магазина"
            required>
        </div>

        <div class="flex width-full font-weight-700 margin-top-35">
          Описание магазина <span class="text-red">*</span>
        </div>
        <div class="flex width-full margin-top-10">
    <textarea
      class="input-form padding-10 width-full min-width-150 min-height-100"
      formControlName="description"
      maxlength="1000"
      placeholder="Коротко расскажите о магазине, ассортименте и преимуществах"
      required></textarea>
        </div>

        <div class="flex between width-full">
          <div class="flex margin-top-5">
            До 1 000 символов
          </div>
          <div class="flex margin-top-5">
            {{
              onboardingForm.controls.store.controls.description
                .value.length
            }}/1000
          </div>
        </div>
      </div>

      <div class="styled-hr margin-top-20 margin-bottom-20"></div>

      <div class="flex width-full items-center padding-20">
        <div class="flex size-50 items-center justify-center bg-yellow radius-50p flex-shrink-0">
          <div class="flex font-size-24 font-weight-700">5</div>
        </div>
        <div class="flex margin-left-20 flex-col">
          <div class="flex font-size-24 font-weight-700">Адрес точки выдачи</div>
          <div class="flex">Место передачи и получения заказов</div>
        </div>
      </div>

      <div class="flex flex-col width-full items-center padding-20">
        <div class="flex width-full font-weight-700">
          Полный адрес точки передачи заказов
          <span class="text-red">*</span>
        </div>

        <div class="flex width-full margin-top-10">
          <input
            type="text"
            class="input-form padding-x-10 width-full"
            formControlName="pickupPointAddress"
            placeholder="Введите полный адрес"
            required>
        </div>
      </div>

      <div class="flex width-full items-center padding-20">

        <div class="flex width-full bg-yellow-soft text-brown radius-10 padding-7">
          <div class="flex height-50 items-center margin-left-10 margin-left-phone">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="35"
                 height="35"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 aria-hidden="true">
              <circle cx="12" cy="12" r="10"></circle>
              <path d="M12 16v-4"></path>
              <path d="M12 8h.01"></path>
            </svg>
          </div>
          <div class="font-size-18 margin-left-10">Все указанные адреса должны соответствовать
            <span class="text-blue pointer"
                  (click)="openExternalSite()">Федеральной информационной адресной системе</span>
          </div>
        </div>
      </div>


      <div class="flex width-full items-center padding-20">
        <div class="flex width-full flex-col">

          @if (submitError() !== null) {
            <div
              class="flex width-full text-red margin-bottom-20"
              role="alert"
              aria-live="polite">
              {{ submitError() }}
            </div>
          }

          <div class="flex width-full margin-bottom-20 between font-size-18 margin-top-40">

            <button type="submit" class="registration-submit-button width-full padding-x-17 text-black"
                    [class.button-disabled]="onboardingForm.invalid || isSubmitting()"
                    [class.button-primary]="onboardingForm.valid && !isSubmitting()"
                    [class.pointer]="onboardingForm.valid && !isSubmitting()"
                    [disabled]="onboardingForm.invalid || isSubmitting()">
              @if (isSubmitting()) {
                Сохраняем...
              } @else {
                Сохранить
              }
            </button>

          </div>


        </div>
      </div>

    </form>


  </div>
</main>

<!--Для для сообщений на странице-->
<!--<<div class="overlay">
  <div class="centered-box">
    <h2>Заголовок</h2>
    <p class="font-size-18">Блок для сообщений</p>
    <div class="button-primary margin-top-20 font-size-18 pointer">Ясно</div>
  </div>
</div>-->


<!--Прижатие подвала-->
<div class="flex flex-grow"></div>
<app-c-footer></app-c-footer>
