
.display {
  display: flex;
}

.display-exp2 {
  display: none;
}

.he1 {
  height: 1rem;
  background-color: rgb(0 0 0 / 40%);
}

.he2 {
  height: 2rem;
  background-color: rgb(0 0 0 / 40%);
}

.he3 {
  height: 3rem;
  background-color: rgb(0 0 0 / 40%);
}

.he41 {
  height: 4.1rem;
  background-color: rgb(0 0 0 / 40%);
}

.btn-chart {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: var(--r-color-1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-chart:hover {
  background-color: rgb(0 93 255 / 0.13);
}

.btn-chart-active {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: var(--color-4);
  cursor: default;
}


.top-grid-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}


.text-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  line-height: 1.3;
  max-height: 1.3em;
}

.img-top {
  aspect-ratio: 1 / 1;
  max-width: 10.441rem;
  max-height: 10.441rem;
  border-radius: 5rem;
}

.logo-edit {
  top: 7rem;
  right: 0.6rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-5);
  align-items: center;
  justify-content: center;
}

.arrow {
  right: 0;
}


.picker {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  width: 3rem;
  height: 3rem;
  right: 0.5rem;
  top: 0.5rem;
}

/* Скругление внутренней заливки для WebKit (Chrome, Safari, Edge) */
.picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.picker::-webkit-color-swatch {
  border: none;
  border-radius: 1rem;
}

/* Скругление внутренней заливки для Firefox */
.picker::-moz-color-swatch {
  border: none;
  border-radius: 1rem;
}


.banner {
  min-width: 0;
  width: 100%;
  max-width: 50rem;
}

.banner img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

/* Телефон от 320px "Этот breakpoint просто показывает в среде разработчика данную точку для удобства " */
@media (min-width: 20em) {
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {
}

/* Планшет 991px */
@media (max-width: 61.938em) {
  .display {
    display: none;
  }

  .p-l20 {
    padding-left: 0;
  }

  .cf-col {
    flex-direction: column;
  }

}

/* Телефон 767px */
@media (max-width: 47.938em) {

  .display-exp1 {
    display: none;
  }

  .display-exp2 {
    display: flex;
  }


  .fs40 {
    font-size: 2.5rem;
  }

}
