
.header-height {
  height: 9rem;
}

.flex-none {
  display: flex;
}

.size-logo {
  width: 40px;
  height: 40px;
}

/* Телефон от 320px "Этот breakpoint просто показывает в среде разработчика данную точку для удобства " */
@media (min-width: 20em) {
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {
}

/* Планшет 991px */
@media (max-width: 61.938em) {
}

/* Телефон 767px */
@media (max-width: 47.938em) {

  .burger {
    left: 0;
    top: 0;
  }

  .fc-jcc {
    justify-content: center;
  }

  .flex-none {
    display: none;
  }

}
