@font-face {
  font-family: 'Roboto';
  src: url('../public/storage/static/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/storage/static/fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/storage/static/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #F6F7F8;
  --color-4: #FFDC26;
  --color-5: #e3e3e3;
  --color-6: #e3c320;
  --color-7: #e2e2e2;
  --color-8: #d4d4d4;
  --color-9: #ff9b00;
  --color-10: #f1f1f1;
  --color-11: #0033ff;
  --color-12: #ff0000;

  --r-color-1: rgba(0, 93, 255, 0.05);
  --r-color-2: rgb(22 163 74);
  --r-color-3: rgb(255 220 38 / 0.39);
  --r-color-4: rgb(38 89 255 / 0.39);
  --r-color-5: rgb(175 38 255 / 0.39);
  --r-color-6: rgb(38 255 73 / 39%);
  --r-color-7: rgb(255 160 38 / 39%);;
  --r-color-8: rgb(255 38 128 / 0.39);;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', Sans-Serif, Arial, serif;
  font-size: 62.5%;
  color: var(--color-2);
  background-color: var(--color-1);

  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  /*overflow-x: hidden;*/
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 700;
}

input {
  outline: none;
  border: 0.1rem solid #CDCDCD;
  box-shadow: none;
}

/* flex флекс */
.flex {
  display: flex;
}

.flex-grid {
  display: grid;
}

.f-gro {
  flex-grow: 1;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-jcc {
  justify-content: center;
}

.f-aic {
  align-items: center;
}

.f-ai-fs {
  align-items: flex-start;
}

.f-jc-sb {
  justify-content: space-between;
}


.f-jte {
  justify-content: flex-end;
}

.f-row {
  flex-direction: row;
}

.f-aife {
  align-items: flex-end;
}


.f-col {
  flex-direction: column;
}

/*позиция*/
.pr {
  position: relative;
}

.pa {
  position: absolute;
}

/*Выравнивание*/

.tac {
  text-align: center;
}

/*Скрытие*/
.f-do {
  display: none;
}

/*Ширина*/
.f1 {
  flex: 1
}

.f2 {
  flex: 2.1
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.h41 {
  height: 4.1rem;
}

.max-w1400 {
  max-width: 140rem;
}

.min-w320 {
  min-width: 32rem;
}

.min-w200 {
  min-width: 20rem;
}

.max-w320 {
  max-width: 32rem;
}


/*Тень*/

.block {
  box-shadow: 0 1px 1rem 0 rgb(191 191 191 / 50%);
}

/*Высота*/
.h100vh {
  height: 100vh;
}

/*Кнопка*/
/*.btn {*/
/*  display: inline-flex;*/
/*  width: fit-content;*/
/*  padding: 1rem 1rem;*/
/*  border: none;*/
/*  border-radius: 1rem;*/
/*  background-color: var(--color-4);*/
/*  cursor: pointer;*/
/*  text-align: center;*/
/*  overflow-wrap: anywhere;*/
/*  transition: background-color 0.2s ease;*/
/*}*/

/*.btn:hover {*/
/*  background-color: var(--color-6);*/
/*}*/

.btn2 {
  display: inline-flex;
  width: fit-content;
  padding: 1rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-3);
  cursor: pointer;
  text-align: center;
  overflow-wrap: anywhere;
  transition: background-color 0.2s ease;
}

.btn2:hover {
  background-color: var(--r-color-1);
}

.btn4 {
  display: inline-flex;
  width: fit-content;
  padding: 1rem 1rem;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--color-3);
  cursor: pointer;
  text-align: center;
  overflow-wrap: anywhere;
  transition: background-color 0.2s ease;
}

.btn4:hover {
  background-color: var(--r-color-1);
}

.btn2:hover {
  background-color: var(--r-color-1);
}

.btn3 {
  align-items: stretch;
  display: inline-flex;
  padding: 1rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-4);
  cursor: pointer;
  text-align: center;
  overflow-wrap: anywhere;
  transition: background-color 0.2s ease;
}

.btn3:hover {
  background-color: var(--color-6);
}

/*Цвет заливка*/

.bc1 {
  background-color: var(--color-1);
}

.bc3 {
  background-color: var(--color-3);
}

.bc4 {
  background-color: var(--color-4);
}

.bc10 {
  background-color: var(--color-10);
}


.oc9 {
  color: var(--color-9);
}

.oc11 {
  color: var(--color-11);
}

.oc12 {
  color: var(--color-12);
}

.rbc1 {
  background-color: var(--r-color-1);
}

.rbc3 {
  background-color: var(--r-color-3);
}

.rbc4 {
  background-color: var(--r-color-4);
}

.rbc5 {
  background-color: var(--r-color-5);
}

.rbc6 {
  background-color: var(--r-color-6);
}

.rbc7 {
  background-color: var(--r-color-7);
}

.rbc8 {
  background-color: var(--r-color-8);
}


/*Шрифты*/
.fw-700 {
  font-weight: 700;
}

.fs24 {
  font-size: 2.4rem;
}

.fs18 {
  font-size: 1.8rem;
}

.fs14 {
  font-size: 1.4rem;
}

.fs40 {
  font-size: 4rem;
}

/*отступ внешний*/
.g10 {
  gap: 1rem;
}

.g20 {
  gap: 2rem;
}

.g40 {
  gap: 4rem;
}

.m20 {
  margin: 2rem;
}

.mg-lr20 {
  margin: 0 2rem;
}

.m-l10 {
  margin-left: 1rem;
}

.m-r10 {
  margin-right: 1rem;
}

.m-l05 {
  margin-left: 0.5rem;
}

.m-r05 {
  margin-right: 0.5rem;
}

.m-t40 {
  margin-top: 4rem;
}

.m-t35 {
  margin-top: 3.5rem;
}

.m-t20 {
  margin-top: 2rem;
}

.m-t10 {
  margin-top: 1rem;
}

.m-t5 {
  margin-top: 0.3rem;
}

.m-tb40 {
  margin: 4rem 0;
}

/*отступ внутренний*/

.p05 {
  padding: 0.5rem;
}

.p10 {
  padding: 1rem;
}

.p20 {
  padding: 2rem;
}

.p40 {
  padding: 4rem;
}

.p-l20 {
  padding-left: 2rem;
}

.p-r20 {
  padding-right: 2rem;
}

/*Курсор*/
.curs-p {
  cursor: pointer;
}

/*Углы*/
.br1 {
  border-radius: 1rem;
}

.br50p {
  border-radius: 50%;
}

.br2 {
  border-radius: 0 1rem 1rem 0;
}

.br3 {
  border-radius: 2.5rem;
}

/*чекбокс checkbox*/

.checkbox {
  width: 2.2rem;
  height: 2.2rem;
  background-color: var(--color-5);
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.1rem solid var(--color-9);
  transition: background-color 0.2s ease-in-out;
}

.checkbox:hover {
  background-color: var(--color-8);
}

.check:checked + .checkbox {
  background-color: var(--color-4);
  border-color: var(--color-4);
  box-shadow: 0 0 0 0.2rem rgba(255, 155, 0, 0.5);
}

.check:checked + .checkbox:hover {
  background-color: var(--color-4);
  border-color: var(--color-4);
}

.checkbox .scs {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.check:checked + .checkbox .scs {
  opacity: 1;
}

.input-non {
  display: none;
}

/*Другое*/

.owa {
  overflow-wrap: anywhere;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/
}

.ovh {
  overflow: hidden;
}

.z1 {
  z-index: 1;
}

.styled-hr {
  border: none;
  height: 0.2rem;
  background-color: var(--color-5);
  width: 100%;
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {
}

/* Планшет 991px */
@media (max-width: 61.938em) {
}

/* Телефон 767px */
@media (max-width: 47.938em) {
  .f-dn {
    display: none;
  }

  .f-do {
    display: flex;
  }

  .mg-lr20 {
    margin: 0 1rem;
  }
}
