@font-face {
  font-family: 'Roboto';
  src: url('../public/storage/static/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/storage/static/fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/storage/static/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #F6F7F8;
  --color-4: #FFDC26;
  --color-5: #e3e3e3;
  --color-6: #e3c320;
  --color-7: #e2e2e2;
  --color-8: #d4d4d4;
  --color-9: #ff9b00;
  --color-10: #f1f1f1;
  --color-11: #0033ff;
  --color-12: #ff0000;
  --color-13: #3f3f3f75;
  --color-14: #fefce8;
  --color-15: #854d0e;

  --r-color-1: rgba(0, 93, 255, 0.05);
  --r-color-2: rgb(22 163 74);
  --r-color-3: rgb(255 220 38 / 0.39);
  --r-color-4: rgb(38 89 255 / 0.39);
  --r-color-5: rgb(175 38 255 / 0.39);
  --r-color-6: rgb(38 255 73 / 39%);
  --r-color-7: rgb(255 160 38 / 39%);
  --r-color-8: rgb(255 38 128 / 0.39);
  --r-color-9: rgb(0 93 255 / 0.13);
  --r-color-10: rgb(0 0 0 / 0.3);
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', Sans-Serif, Arial, serif;
  font-size: 62.5%;
  color: var(--color-2);
  background-color: var(--color-1);

  height: 100%;
  width: 100%;
  min-width: 32rem;
}

body {
  height: 100%;
  width: 100%;
  /*overflow-x: hidden;*/
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 700;
}

input {
  outline: none;
  border: 0.1rem solid #CDCDCD;
  box-shadow: none;
}

textarea {
  outline: none;
  border: 0.1rem solid #CDCDCD;
  box-shadow: none;
}

/* flex флекс */
.flex {
  display: flex;
}

.flex-grid {
  display: grid;
}

.flex-1 {
  flex: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.between {
  justify-content: space-between;
}


.justify-end {
  justify-content: flex-end;
}

.flex-row {
  flex-direction: row;
}

.items-end {
  align-items: flex-end;
}


.flex-col {
  flex-direction: column;
}

/*позиция*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*Выравнивание*/

.text-center {
  text-align: center;
}

/*Скрытие*/
.open-phone {
  display: none;
}

/*Ширина*/
.flex-1 {
  flex: 1
}

.flex-0-5 {
  flex: 0.5
}

.flex-0-30 {
  flex: 0.30
}

.flex-0-7 {
  flex: 0.7
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.height-41 {
  height: 4.1rem;
}

.height-50 {
  height: 5rem;
}

.height-80 {
  height: 8rem;
}

.height-200 {
  height: 20rem;
}

.max-width-150 {
  max-width: 15rem;
}

.max-width-1400 {
  max-width: 140rem;
}

.max-width-30 {
  max-width: 30rem;
}

.max-width-280 {
  max-width: 28rem;
}

.max-width-440 {
  max-width: 44rem;
}

.max-width-32 {
  max-width: 32rem;
}

.min-width-150 {
  min-width: 15rem;
}

.max-width-80 {
  max-width: 80rem;
}

.min-height-100 {
  min-height: 10rem;
}

.min-height-154 {
  min-height: 15.4rem;
}

.max-height-200 {
  max-height: 20rem;
}


.width-60 {
  width: 6rem;
}

/*Блок*/

.shadow {
  box-shadow: 0 0 0.8rem 0 rgb(191 191 191 / 50%);
}

.bg-white-transition {
  background-color: var(--color-1);
  transition: background-color 0.2s ease;
}

.bg-white-transition:hover {
  background-color: var(--r-color-1);
}

/*.shadow-in-active {*/
/*  height: 4.1rem;*/
/*  background-color: var(--color-5);*/
/*}*/

.block-in-active {
  height: 4.1rem;
  background-color: var(--r-color-1);
}

.block-border-solid {
  height: 4.1rem;
  border: 2px solid rgb(191 191 191 / 50%)
}

.border-dashed {
  border: 2px dashed rgb(191 191 191 / 50%)
}

.block-shrink {
  transition: transform 0.2s ease;
}

.block-shrink:active {
  transform: scale(0.98);
}

/*Высота*/
.height-screen {
  height: 100vh;
}

/*Кнопка*/
/*.btn {*/
/*  display: inline-flex;*/
/*  width: fit-content;*/
/*  padding: 1rem 1rem;*/
/*  border: none;*/
/*  border-radius: 1rem;*/
/*  background-color: var(--color-4);*/
/*  cursor: pointer;*/
/*  text-align: center;*/
/*  overflow-wrap: anywhere;*/
/*  transition: background-color 0.2s ease;*/
/*}*/

/*.btn:hover {*/
/*  background-color: var(--color-6);*/
/*}*/

.btn2 {
  padding: 0 1rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-3);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn2:hover {
  background-color: var(--r-color-1);
}

.button-primary {
  padding: 0 1rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-4);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-primary:hover {
  background-color: var(--color-6);
}

.button-blue-soft {
  padding: 0 1rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--color-3);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-blue-soft:hover {
  background-color: var(--r-color-1);
}

.button-disabled {
  display: flex;
  background-color: var(--color-5);
  height: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  transition: background-color 0.2s ease;
}

.button-blue {
  padding: 0 1rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--r-color-1);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.button-blue:hover {
  background-color: rgb(0 93 255 / 0.13);
}

.btn5-active {
  cursor: default;
  padding: 0 1rem;
  height: 4rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-4);
}

.button-blue2 {
  background-color: var(--r-color-1);
  padding: 0 1.8rem;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  height: 4rem;
}

.button-blue2:hover {
  background-color: var(--r-color-9);
}

.button-in-active {
  cursor: default;
  padding: 0 1rem;
  height: 4rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-8);
}

.button-pagination {
  width: 4.5rem;
  height: 3.5rem;
}

/*Цвет заливка*/

.bg-white {
  background-color: var(--color-1);
}

.bg-page {
  background-color: var(--color-3);
}

.bg-yellow {
  background-color: var(--color-4);
}


.bg-light {
  background-color: var(--color-10);
}

.bg-hover-gray {
  background-color: var(--color-8);
}

.bg-hover-white {
  background-color: var(--color-1);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.bg-hover-white:hover {
  background-color: var(--color-9);
}

.bg-hover-yellow {
  background-color: var(--color-4);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.bg-hover-yellow:hover {
  background-color: var(--color-6);
}


.text-orange {
  color: var(--color-9);
}

.text-blue {
  color: var(--color-11);
}

.text-red {
  color: var(--color-12);
}

.text-green {
  color: var(--r-color-2);
}

.text-brown {
  color: var(--color-15);
}

.bg-blue-soft {
  background-color: var(--r-color-1);
}

.bg-amber-translucent {
  background-color: var(--r-color-3);
}

.bg-azure-alpha {
  background-color: var(--r-color-4);
}

.bg-violet-neon-alpha {
  background-color: var(--r-color-5);
}

.bg-lime-bright-alpha {
  background-color: var(--r-color-6);
}

.bg-amber-alpha {
  background-color: var(--r-color-7);
}

.bg-magenta-bright-alpha {
  background-color: var(--r-color-8);
}

.bg-yellow-soft {
  background-color: var(--color-14);
}


/*Шрифты*/
.font-weight-700 {
  font-weight: 700;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-size-16 {
  font-size: 1.6rem;
}

.font-size-18 {
  font-size: 1.8rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-24 {
  font-size: 2.4rem;
}

.font-size-20 {
  font-size: 2rem;
}

.font-size-40 {
  font-size: 4rem;
}

/*отступ внешний*/

.gap-5 {
  gap: 0.5rem;
}

.gap-10 {
  gap: 1rem;
}

.gap-20 {
  gap: 2rem;
}

.gap-40 {
  gap: 4rem;
}

.margin-20 {
  margin: 2rem;
}

.margin-x-20-phone {
  margin: 0 2rem;
}

.margin-y-40 {
  margin: 4rem 0;
}

.margin-left-10 {
  margin-left: 1rem;
}

.margin-left-20 {
  margin-left: 2rem;
}

.margin-left-35 {
  margin-left: 3.5rem;
}

.margin-right-10 {
  margin-right: 1rem;
}

.margin-left-5 {
  margin-left: 0.5rem;
}

.margin-right-5 {
  margin-right: 0.5rem;
}

.margin-top-5 {
  margin-top: 0.5rem;
}

.margin-top-40 {
  margin-top: 4rem;
}

.margin-top-35 {
  margin-top: 3.5rem;
}

.margin-top-20 {
  margin-top: 2rem;
}

.margin-top-10 {
  margin-top: 1rem;
}

.margin-top-3 {
  margin-top: 0.3rem;
}

.margin-bottom-5 {
  margin-bottom: 0.5rem;
}

.margin-bottom-20 {
  margin-bottom: 2rem;
}


/*отступ внутренний*/

.padding-right-15-bottom-5 {
  padding: 0 1.5rem 0.5rem 0;
}

.padding-x-10 {
  padding: 0 1rem 0 1rem;
}

.padding-x-13 {
  padding: 0 1.3rem 0 1.3rem;
}

.padding-x-20-phone {
  padding: 0 2rem;
}

.padding-x-24 {
  padding: 0 2.4rem 0 2.4rem;
}


.padding-x-24-tablet {
  padding: 0 2.4rem 0 2.4rem;
}

.padding-x-5 {
  padding: 0.5rem;
}

.padding-7 {
  padding: 0.7rem;
}


.padding-10 {
  padding: 1rem;
}

.padding-x-17 {
  padding: 0 1.7rem 0 1.7rem;
}

.padding-x-40 {
  padding: 0 4rem 0 4rem;
}

.padding-20 {
  padding: 2rem;
}

.padding-40 {
  padding: 4rem;
}

.padding-top-40 {
  padding-top: 4rem;
}

.padding-left-10 {
  padding-left: 1rem;
}

.padding-right-10 {
  padding-right: 1rem;
}

.padding-left-20 {
  padding-left: 2rem;
}

.padding-left-40 {
  padding-left: 4rem;
}

.padding-right-15 {
  padding-right: 1.5rem;
}

.padding-right-20 {
  padding-right: 2rem;
}

.padding-top-20 {
  padding: 2rem 0 0 0;
}

/*Курсор*/
.pointer {
  cursor: pointer;
}

/*Углы*/
.radius-10 {
  border-radius: 1rem;
}

.radius-50p {
  border-radius: 50%;
}

.radius-right {
  border-radius: 0 1rem 1rem 0;
}

.radius-25 {
  border-radius: 2.5rem;
}

.radius-top-10 {
  border-radius: 1rem 1rem 0 0;
}

/*чекбокс checkbox*/

.checkbox {
  width: 2.2rem;
  height: 2.2rem;
  background-color: var(--color-5);
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.1rem solid var(--color-9);
  transition: background-color 0.2s ease-in-out;
}

.checkbox:hover {
  background-color: var(--color-8);
}

.check:checked + .checkbox {
  background-color: var(--color-4);
  border-color: var(--color-4);
  box-shadow: 0 0 0 0.2rem rgba(255, 155, 0, 0.5);
}

.check:checked + .checkbox:hover {
  background-color: var(--color-4);
  border-color: var(--color-4);
}

.checkbox .check-icon {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.check:checked + .checkbox .check-icon {
  opacity: 1;
}

.size-25 {
  width: 2.5rem;
  height: 2.5rem;
}

.size-50 {
  width: 5rem;
  height: 5rem;
}

.display-close {
  display: none;
}

/*Текст*/

.overflow-ellipsis {
  text-overflow: ellipsis; /* Добавляет три точки в конце */
}

.white-space-nowrap {
  white-space: nowrap /* Запрещает перенос строки */
}

.overflow-hidden {
  overflow: hidden; /* Прячет всё, что не помещается */
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/
}

.object-fit-contain {
  object-fit: contain;
}


/*Инпут*/

.input-txt {
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-txt:focus {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
}

/*Другое*/


.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.styled-hr {
  border: none;
  height: 0.2rem;
  background-color: var(--color-5);
  width: 100%;
}


/* Модальное окно для сообщений */
.overlay {
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.centered-box {
  background-color: var(--color-1);
  border-radius: 1rem;
  width: 100%;
  padding: 2rem;
  max-width: 44rem;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
}


.panel-bottom {
  border-left: 0.1rem solid var(--color-5);
  box-shadow: 0 0 0.8rem 0 rgb(191 191 191 / 50%);
  border-radius: 0 0 2.4rem 2.4rem;
  overflow: hidden;
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {
}

/* Планшет 991px */
@media (max-width: 61.938em) {

  .padding-x-24-tablet {
    padding: 0 1.7rem 0 1.7rem;
  }

}

/* Телефон 767px */
@media (max-width: 47.938em) {
  .close-phone {
    display: none;
  }

  .open-phone {
    display: flex;
  }

  .margin-x-20-phone {
    margin: 0 1rem;
  }

  .padding-x-20-phone {
    padding: 0 1rem;
  }

}
