
.display-exp2 {
  display: none;
}

.variant-grid-container {
  display: grid;
  grid-template-columns: 0.5fr 0.2fr 0.7fr 0.7fr 0.4fr 0.3fr 0.3fr 0.1fr;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.wi1 {
  display: none;
}

.img-size {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.variant-img-size {
  width: 60px;
  height: 60px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.color-size {
  aspect-ratio: 1 / 1;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 0.5rem;
}

/* Телефон от 320px "Этот breakpoint просто показывает в среде разработчика данную точку для удобства " */
@media (min-width: 20em) {
}

/* Ноутбук 1199px */
@media (max-width: 74.938em) {

  .wi1 {
    display: flex;
  }

  .wi2 {
    display: none;
  }

  .cfs16 {
    font-size: 1.6rem;
  }

}

/* Планшет 991px */
@media (max-width: 61.938em) {
  .open-display {
    display: none;
  }

  .p-l20 {
    padding-left: 0;
  }

  .variant-img-size {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
  }

  .variant-img-size2 {
    width: 70px;
    height: 70px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
  }

}

/* Телефон 767px */
@media (max-width: 47.938em) {

  .cf-col {
    flex-direction: column;
  }

  .display-exp1 {
    display: none;
  }

  .display-exp2 {
    display: flex;
  }


  .fs40 {
    font-size: 2.5rem;
  }

  .cf-jcc {
    justify-content: center;
  }

  .cf-jc-sb {
    justify-content: space-between;
  }

  .f-reverse {
    flex-direction: column-reverse;
  }

  .p20 {
    padding: 1rem;
  }

}
